# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\50685\OneDrive\Documents\Diseño conceptual del software\primer_workflow\DS_ProyectoGrupal\primer-workflow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
